/*-- scss:defaults --*/
/*-- scss:rules --*/

// figure display
.figure {
  text-align: center;
  text-indent: 0;
}

.figure-img{
  border-radius: 50%;
  max-width: 300px;
}

// Highlight table row when hover
.quarto-listing-table.table {
  tr {
    &:hover {
      background-color: rgba(0, 0, 0, 0.05); // Light gray background on hover
    }
  }
}
